@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
/*
    font-size: 20px;
*/
  }
  
input, select {
	/*
	border-radius: 5px; padding-left: 10px;
	background: linear-gradient(rgb(235,235,235), white);
	border: hidden;
*/
	border-width: 1px;
	background: LemonChiffon;
	padding-bottom: 5px;
}

input[type="submit"] {
	background: DodgerBlue;
	border: 3px solid DodgerBlue;
	border-radius: 3px;
	padding: 5px;
	color: LightGray;
	font-weight: bold;
	cursor: pointer;
	/*
	background: linear-gradient(rgba(0,150,0,0.3), white);
*/
}

input[type="submit"].main {
	background: green;
	border: 3px solid green;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	color: white;
}

input:focus, 
select:focus {
	border-color: #333;
}

table {
	box-shadow: 5px 5px 10px #888;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

td, th {
	padding: 5px;
}

a,
label {
	border-style: solid;
	border-color: transparent;
	border-width: 3px;
	padding-left: 5px;
	display: inline-block;
	height: 30px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover,
label:hover {
	border-left: 3px solid #00aa00;
	text-decoration: underline;
	background-color: #eeeeee;
}

a:active {
	text-decoration: underline;
}

.flash {
	border: 1px solid;
	padding: 8px;
	padding-left: 30px;
}

.flash.OK {
	background: url(../icons/true.png) 8px 8px no-repeat;
	background-color: #dfffdf;
	border-color: #9fcf9f;
	color: #005f00;
}

.flash.Error {
	background: url(../icons/exclamation.png) 8px 50% no-repeat;
	background-color: #ffe3e3;
	border-color: #d88;
	color: #880000;
}

.flash.Warning {
	background: url(../icons/warning.png) 8px 8px no-repeat;
	background-color: #ffD1A4;
	border-color: #ff8000;
#	color: #005f00;
}

/*
modal css start
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	float:left; 
  background-color: #fefefe;
margin-left: 20px;
/*
	margin: auto;
*/	
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 300px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*
modal css end
*/

.tooltiptext {
  /*
  width: 120px;
  border-radius: 6px;
  right: -40px;
  */
  visibility: hidden;
  top: 70px;
  color: #fff;
  background-color: lightblue;
  text-align: center;
  padding: 5px;

  position: absolute;
  z-index: 1;
}

.tooltiptext-right {
right:0px
}

.tooltip:hover .tooltiptext {
  visibility: visible;